@charset "utf-8";

/* Global Styles */
/* Header */
.profileHeader h1 {
  color: rgba(146,146,146,1.00);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
.profileHeader h3 {
  color: rgba(146,146,146,1.00);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
hr {
  background-color: rgba(208,207,207,1.00);
  height: 1px;
}
.profileHeader p {
  color: rgba(146,146,146,1.00);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  overflow-y: auto;
}
.socialNetworkNavBar {
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
  clear: both;
}
.socialNetworkNavBar .socialNetworkNav {
  border-radius: 50%;
  cursor: pointer;
}
.socialNetworkNavBar .socialNetworkNav img:hover {
  opacity:0.5;
}
/* Main Content sections */
.mainContent {
  display: block;
  clear: both;
}
.section .sectionContentTitle {
  color: rgba(234, 227, 227, 1);
  font-size: 18px;
  font-weight: 700;
}
.section .sectionContentSubTitle {
  color: rgba(247, 238, 238, 1);
  font-size: 14px;
  font-weight: 400;
}
.section .sectionContent {
  color: rgba(146,146,146,1.00);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.stretch {
  content: '';
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
  /* Header */
  .profileHeader p {
    text-align: justify;
  }
  .socialNetworkNavBar .socialNetworkNav {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content sections */
  .mainContent .section {
    display: block;
    text-align: center;
    clear: both;
  }
  .section .sectionContent {
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;
  }
  .mainContent .externalResourcesNav {
    margin-bottom: 10%;
  }
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
  /* Header */
  .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content and sections */
  .mainContent .externalResourcesNav {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0;
    clear: both;
  }
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
  /* Header */
  .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content sections */
  .mainContent .section {
    clear: both;
  }
  .section .sectionContent {
    padding: 0;
  }
  .mainContent .externalResourcesNav {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0;
    clear: both;
  }
}
