@charset "utf-8";

/* Global Styles */
.profileHeader h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgba(146,146,146,1.00);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
.profileHeader h3 {
  font-family: sans-serif;
  color: rgba(146,146,146,1.00);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
hr {
  background-color: rgba(208,207,207,1.00);
  height: 1px;
}
.profileHeader p {
  font-family: sans-serif;
  color: rgba(146,146,146,1.00);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  overflow-y: auto;
}
.socialNetworkNavBar {
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
  clear: both;
}
.socialNetworkNavBar .socialNetworkNav {
  border-radius: 50%;
  cursor: pointer;
}
.socialNetworkNavBar .socialNetworkNav img:hover {
  opacity:0.5;
}
/* Main Content sections */
.section2 .sectionContentTitle {
  font-family: sans-serif;
  color: rgba(234, 227, 227, 1);
  font-size: 18px;
  font-weight: 700;
}

.section2 .sectionContentSubTitle {
  font-family: sans-serif;
  color: rgba(247, 238, 238, 1);
  font-size: 14px;
  font-weight: 400;
}
.section2 .sectionContent {
  font-family: sans-serif;
  color: rgba(146,146,146,1.00);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.mainContent {
  display: block;
  clear: both;
}
.mainContent .externalResourcesNav .externalResources {
  background-color: rgba(208,207,207,1.00);
  display: inline-block;
  text-align: center;
  margin-top: 0;
  padding-top: 3%;
  cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
  background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255,255,255,1.00);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.stretch {
  content: '';
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
  /* Header */
  .profilePhoto {
    display: inline-block;
  }
  .profileHeader {
    text-align: center;
    margin-top:10%;
  }
  .profileHeader p {
    text-align: justify;
  }
  .socialNetworkNavBar .socialNetworkNav {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content sections */
  .mainContent .section1 {
    text-align: center;
    margin-bottom: 10%;
  }
  .section1 .section1Title, .section2 .section1Title {
    text-align: center;
  }
  .section1 .sectionTitleRule, .section2 .sectionTitleRule {
    width: 100%;
  }
  .section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
    display: none;
  }
  .mainContent .section1 .section1Content {
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
    text-align: justify;
  }
  .mainContent .section2 {
    display: block;
    text-align: center;
    clear: both;
  }
  .section2 .section2Content {
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;
  }
  .mainContent .externalResourcesNav {
    margin-bottom: 10%;

  }
  .mainContent .externalResourcesNav .externalResources {
    width: 100%;
    height: 35px;
  }
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

  .profileHeader {
    text-align: left;
  }
  .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content and sections */
  .section1 .section1Title, .section2 .section1Title {
    text-align: center;
  }
  .section1 .sectionTitleRule, .section2 .sectionTitleRule {
    width: 100%;
  }
  .section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
    display: none;
  }
  .mainContent .section1 .section1Content {
    display: block;
    margin: 0 0 0 20%;
    font-family: sans-serif;;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .section2 .section2Content {
    padding: 0;
    margin-left: 20%;
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .mainContent .externalResourcesNav {
    margin-left: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0;
    clear: both;
  }
  .mainContent .externalResourcesNav .externalResources {
    width: 199px;
    height: 48px;
    margin-top: 5%;
  }
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
  /* Header */
  .profileHeader {
    text-align: left;
  }
  .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content sections */
  .section1 .sectionTitleRule, .section2 .sectionTitleRule {
    width: 22.5%;
  }
  .mainContent .section1 .section1Content {
    display: block;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 26%;
    margin-bottom: 0%;
    font-family: sans-serif;
  }
  .mainContent .section2 {
    clear: both;
  }
  .section2 .section2Content {
    padding: 0;
    font-family: sans-serif;
  }
  .mainContent .externalResourcesNav {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0;
    clear: both;
  }
  .mainContent .externalResourcesNav .externalResources {
    width: 199px;
    height: 48px;
  }
}
