<link href="../css/about.css" rel="stylesheet" type="text/css">
<div ng-controller="aboutCtrl">
  <div class="profileHeader">
    <h2 class="sectionTitle">Info</h2>
    <hr>
    <p>I thrive on creating new products and solving complex problems.Challenges are my forte.
      I have extensive background in Java and Android development.
      I am well versed in everything from Ruby to Gradle to Angular.js.</p>
    <p>Beyond coding I enjoy reading about theoretical physics, economics, and the social sciences.
      I am an avid weightlifter and runner.
      I live in Shoreline WA with my wife, daughter, and dog, Pancho.</p>
  </div>

  <!-- Links to Social network accounts -->
  <div class="socialNetworkNavBar">
    <div class="socialNetworkNav">
      <!-- Add a Anchor tag with nested img tag here -->
      <a href="https://www.facebook.com/abeatte" target="_blank">
        <img src="../res/images/fb_break.png" alt="sample" width="74" height="74">
      </a>
    </div>
    <div class="socialNetworkNav">
      <!-- Add a Anchor tag with nested img tag here -->
      <a href="https://www.linkedin.com/pub/art-beatte-iv/32/2a1/768" target="_blank">
        <img src="../res/images/li_break.png"  alt="sample" width="74" height="74">
      </a>
    </div>
    <div class="socialNetworkNav">
      <!-- Add a Anchor tag with nested img tag here -->
      <a href="https://plus.google.com/+ArtBeatte" target="_blank">
        <img src="../res/images/g_break.png"  alt="sample" width="74" height="74">
      </a>
    </div>
    <div class="socialNetworkNav">
      <!-- Add a Anchor tag with nested img tag here -->
      <a href="http://stackoverflow.com/users/1454347/astryk" target="_blank">
        <img src="../res/images/so_break.png"  alt="sample" width="74" height="74">
      </a>
    </div>
  </div>

  <br>

  <div class="mainContent">

    <section class="section">
      <h2 class="sectionTitle">Current Work</h2>
      <hr class="sectionTitleRule">

      <div class="sectionContent" ng-repeat="company in companies">
        <div>
          <span class="sectionContentTitle">[[company.name]] - </span>
          <span class="sectionContentSubTitle">[[company.title]]</span>
        </div>
        <p class="sectionContent">[[company.description]]</p>
        <br ng-if="!isLastCompany(company)">
        <br ng-if="!isLastCompany(company)">
      </div>

    </section>
    <div class="externalResourcesNav">
      <button type="button" class="btn btn-primary btn-lg">
        <a href="../res/raw/WebResume.pdf" title="Download CV Link" download="ArtBeatte">Curriculum Vitae</a>
      </button>
      <span class="stretch"></span>
      <button type="button" class="btn btn-primary btn-lg">
        <a href="https://github.com/abeatte">GitHub</a>
      </button>
    </div>
    <br>
  </div>
</div>
