<div  ng-controller="projectsCtrl">
  <div login-dialog ng-if="!isLoginPage"></div>
  <div>
    <carousel  interval="interval" no-wrap="noWrapSlides">
      <slide ng-repeat="project in projects" active="project.active">
        <div>
          <img ng-src="[[project.image]]">
          <div class="carousel-caption">
            <h1>[[project.name]]</h1>
            <p>[[project.description]]</p>
            <p ng-show="[[project.link != null]]"><a class="btn btn-lg btn-primary" href="[[project.link]]" target="_blank" role="button">
              [[project.platform]]
            </a></p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
