<!-- Custom styles for this template -->
<link href="../css/projects.css" rel="stylesheet">

<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-10">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Current Projects</h1>
            <p>These are all of the projects I am currently involved in. </p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <h2>DocuSign</h2>
                <p>DocuSign provides a simple and secure way to electronically sign documents and collect signatures from others. The app eliminates the hassles, costs, and lack of security sending documents for signature.</p>
                <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.docusign.ink&hl=en" target="_blank" role="button">Google Play &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>SmartScale</h2>
                <p>SmartScale is a weight scale app designed for the fitness industry. SmartScale reads in your daily weight, body fat composition and water weight composition and tracks your progress using easy to read graphs.</p>
                <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.art.smartScale&hl=en" target="_blank" role="button">Google Play &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Stegosaurus</h2>
                <p>Steganography tools for the average Joe! Hide secret messages behind Images and send them to your friends without anyone being the wiser. Simply snap a picture, encode a text message and send it off.</p>
                <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.artbeatte.stegosaurus&hl=en" target="_blank" role="button">Google Play &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>EasterBunny</h2>
                <p>Sample App to show off Android-EasterBunny.</p>
                <p>Android-EasterBunny allows you to quickly and easily lay Easter Egg in your application.</p>
                <p><a class="btn btn-default" href="https://github.com/abeatte/Android-EasterBunny" target="_blank" role="button">Github &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>PixelGame</h2>
                <p>A Java based game in the theme of those vintage MS-DOS games we all love and remember.</p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Website</h2>
                <p>The website you are currently looking at.</p>
            </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

    <!--<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">-->
        <!--<div class="list-group">-->
            <!--<a href="#" class="list-group-item active">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
            <!--<a href="#" class="list-group-item">Link</a>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;/.sidebar-offcanvas&ndash;&gt;-->
</div><!--/row-->
