<!-- Footer -->
<footer ng-controller="navCtrl as nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li ng-if="currentTitle !== 'home'">
            <a class="footer-item" ng-click="nav.navigateTo('home')">Home</a>
          </li>
          <li ng-if="currentTitle === 'home'">
            <a class="footer-item" ng-click="nav.scrollTo('about')">About</a>
          </li>
          <li ng-if="currentTitle === 'home'" class="footer-menu-divider">&sdot;</li>
          <li ng-if="currentTitle === 'home'">
            <a class="footer-item" ng-click="nav.scrollTo('projects')">Projects</a>
          </li>
          <li class="footer-menu-divider hidden">&sdot;</li>
          <li class="hidden">
            <a class="footer-item" ng-click="nav.navigateTo('labs')">Labs</a>
          </li>
          <li ng-if="currentTitle === 'home'" class="footer-menu-divider">&sdot;</li>
          <li ng-if="currentTitle === 'home'">
            <a class="footer-item" href="../docs/Resume2020.pdf">Resume</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Art Beatte IV 2016. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
