.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-caption {
  left:10%;
  right:10%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */
.footerDisclaimer {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(104,103,103,1.00);
  font-weight: 700;
}
.footerDisclaimer span {
  color: rgba(181,178,178,1.00);
  font-weight: 400;
}
.footerNote {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(104,103,103,1.00);
  font-weight: 700;
}
.footerNote span {
  color: rgba(181,178,178,1.00);
  font-weight: 400;
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
  /* Footer */
  .footerDisclaimer {
    float: left;
    margin-left: 3%;
    font-family: sans-serif;
  }
  .footerNote {
    float: right;
    margin-right: 3%;
    font-family: sans-serif;
  }
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
  /* Footer */
  .footerDisclaimer {
    float: left;
    margin-left: 3%;
    font-family: sans-serif;
  }
  .footerNote {
    float: right;
    margin-right: 3%;
    font-family: sans-serif;
  }
}
