<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li id="home"><a href="../index.html">Home</a></li>
                <li id="features"><a href="../test">Features</a></li>
                <li id="about"><a href="../about">About</a></li>
                <li id="contacts"><a href="../test">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var segments = location.href.split("/");
        console.log(segments);
        var tab = segments[segments.length - 2];
        console.log("tab: " + tab);
        if (tab === 'test') {
            $('#features').addClass('active');
            $('#contacts').addClass('active');
        } else if (tab === 'about') {
            $('#about').addClass('active');
        } else {
            $('#home').addClass('active');
        }
    });
</script>
