<div class="container">
  <div>
  <div class="privacyPolicy">
    <p>
      My App(s) do not, in any way, track or keep any user data.
      It is not sent to a server, it is not stored in some back-end,
      it is not even stored locally on your device. The only data that is
      gathered is through such libraries and plugins as Google Analytics,
      Facebook Analytics and the like.
    </p>
    <p>
      Please enjoy my product(s) without worrying about how your data is used.
    </p>
  </div>
  </
</div>
